@charset "UTF-8";
body, ul, h1, h2, h3, h4, p {
  font-family: “Times New Roman”, “游明朝”, “Yu Mincho”, “游明朝体”, “YuMincho”, “ヒラギノ明朝 Pro W3”, “Hiragino Mincho Pro”, “HiraMinProN-W3”, “HGS明朝E”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  max-width: 1920px;
  width: 100%;
  height: 60px;
}

header .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 999;
  position: fixed;
  background: rgba(255, 255, 255, 0.8);
  -webkit-transition: .5s;
  transition: .5s;
  width: 100%;
  height: 60px;
}

header .header .header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header .header-logo img {
  width: 136px;
  height: 27px;
  padding-top: 23px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 130px;
}

header .header .header-logo ul li {
  float: left;
  list-style: none;
  padding-right: 30px;
  font-size: 16px;
}

header .header .header-logo ul li a {
  color: black;
  font-size: 12px;
  font-weight: bold;
}

header .header .calender {
  width: 134px;
  height: 40px;
  background-color: #978F10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 13px;
}

header .header .calender a {
  font-size: 12px;
  color: #FFFFFF;
}

header .header .calender a img {
  width: 15px;
  height: 15px;
  padding-right: 10px;
}

.modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal__bg {
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}

.modal__content {
  background: #fff;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 25%;
}

.modal__content p {
  font-size: 17px;
  text-align: center;
  font-weight: bold;
}

.modal__content .js-modal-close img {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 10px;
  right: 14px;
}

.modal__content .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__content .item label {
  font-size: 13px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: bold;
}

.modal__content .item input {
  height: 22px;
}

.modal__content .item select {
  height: 33px;
}

.modal__content .submit {
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: center;
}

.modal__content .submit input {
  color: black;
  border: 1px solid #707070;
  background-color: #fff;
  padding: 8px 50px;
}

.section1 {
  margin-top: -80px;
  height: 700px;
}

.section1 .main-imgBox {
  overflow: hidden;
  position: relative;
  height: 768px;
}

.section1 .main-imgBox .main-img {
  z-index: 10;
  opacity: 0;
  width: 100%;
  height: 768px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-animation: anime 30s 0s infinite;
  animation: anime 30s 0s infinite;
}

.section1 .main-imgBox .main-img:nth-of-type(2) {
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
}

.section1 .main-imgBox .main-img:nth-of-type(3) {
  -webkit-animation-delay: 20s;
  animation-delay: 20s;
}

@-webkit-keyframes anime {
  0% {
    opacity: 0;
  }
  16% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    z-index: 9;
  }
  100% {
    opacity: 0;
  }
}

@keyframes anime {
  0% {
    opacity: 0;
  }
  16% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    z-index: 9;
  }
  100% {
    opacity: 0;
  }
}

.main-logo {
  position: absolute;
  color: #ffffff;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-size: 15px;
  text-align: left;
  top: 300px;
  left: 950px;
  z-index: 100;
}

.main-logo h1 {
  line-height: 2;
  letter-spacing: 9px;
}

.section2 {
  background-image: url(../Ex-sozai/bg.jpg);
  background-size: cover;
  height: 550px;
  margin-top: 70px;
}

.main2-logo {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: upright;
  letter-spacing: 9px;
  margin: 0 auto;
}

.main2-logo h2 {
  font-size: 20px;
  padding-top: 50px;
}

.main2-logo h3 {
  font-size: 20px;
  padding-top: 90px;
  padding-right: 18px;
  padding-left: 10px;
}

.main2-logo p {
  font-size: 9px;
  padding-top: 90px;
  padding-right: 60px;
  line-height: 2.5;
  font-weight: bold;
}

.main2-logo h4 {
  font-size: 15px;
  padding-top: 357px;
  padding-right: 65px;
}

.main3-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 80px;
}

.main3-item:nth-child(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse;
          flex-flow: row-reverse;
}

.main3-img {
  width: 55%;
}

.main3-img img {
  max-width: 100%;
  display: block;
}

.main3-text {
  text-align: left;
  padding-left: 85px;
}

.main3-text:nth-child(2) {
  padding-right: 85px;
}

.main3-text h2 {
  padding-bottom: 35px;
  font-size: 30px;
}

.main3-text p {
  padding-bottom: 65px;
  font-size: 12px;
}

.main3-text button {
  border: 1px solid #707070;
  font-size: 9px;
  padding: 15px 35px;
  background-color: #FFFFFF;
}

.main3-text button :hover {
  cursor: pointer;
}

.fadein {
  opacity: 0;
  -webkit-transition: all 2.5s;
  transition: all 2.5s;
  -webkit-transform: translate(0, 80px);
          transform: translate(0, 80px);
}

/*アニメーション要素までスクロールした時のスタイル*/
.fadein.active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.fadein-logo {
  opacity: 0;
  -webkit-transition: all 3s;
  transition: all 3s;
  -webkit-transform: translate(0, 150px);
          transform: translate(0, 150px);
}

/*アニメーション要素までスクロールした時のスタイル*/
.fadein-logo.active-logo {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.main4__img {
  background-image: url(../Ex-sozai/bg02.jpg);
  background-size: cover;
  height: 600px;
  margin-top: 100px;
}

.main4__logo {
  text-align: center;
}

.main4__logo img {
  width: 33px;
  height: 33px;
  padding-top: 60px;
}

.main4__logo h1 {
  font-size: 32px;
  color: #000000;
  padding-top: 10px;
}

.main4__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  width: 100%;
}

.main4__list {
  width: 900px;
  margin: 0 auto;
  padding-top: 40px;
}

.main4__item {
  width: 29%;
}

.main4__item h2 {
  font-size: 12px;
  padding-top: 28px;
}

.main4__item p {
  font-size: 10px;
  padding-top: 30px;
}

.main4__img2 img {
  width: 255px;
  height: 180px;
}

.fadein2 {
  opacity: 0;
  -webkit-transition: all 3s;
  transition: all 3s;
  -webkit-transform: translate(0, 80px);
          transform: translate(0, 80px);
}

/*アニメーション要素までスクロールした時のスタイル*/
.fadein2.active2 {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.main4__logo {
  margin: 0 auto;
}

.main4__logo img {
  width: 33px;
  height: 33px;
  padding-top: 60px;
}

.main4__logo h1 {
  font-size: 32px;
  color: #000000;
  padding-top: 10px;
}

.main5 {
  width: 12%;
  margin: 0 auto;
}

.tab {
  margin: 0 auto;
  margin-right: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tab li {
  cursor: pointer;
  list-style: none;
  -webkit-transition: .3s;
  transition: .3s;
  font-size: 14px;
  display: inline-block;
  padding-top: 20px;
}

.tab .active {
  border-bottom: 1px solid #000000;
  cursor: auto;
}

.area {
  width: 900px;
  margin: 0 auto;
  padding-top: 40px;
}

.area .show2 {
  height: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.area .area_bgi {
  width: 100%;
  padding: 6px 6px;
}

.area .area_bgi .area_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #F6F6F6;
  background-size: contain;
}

.area .area_bgi .area_item img {
  width: 90px;
  height: 80px;
  padding: 2px 0;
}

.area .area_bgi .area_item .text {
  padding-left: 20px;
}

.area .area_bgi .area_item .text .date {
  font-size: 12px;
  padding-top: 2px;
}

.area .area_bgi .area_item .text .text2 {
  font-size: 14px;
}

.area ul {
  display: none;
}

.area ul.show {
  display: block;
}

.fadein3 {
  opacity: 0;
  -webkit-transition: all 3s;
  transition: all 3s;
  -webkit-transform: translate(0, 80px);
          transform: translate(0, 80px);
}

/*アニメーション要素までスクロールした時のスタイル*/
.fadein3.active3 {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.acsess__bgi {
  background-image: url(../Ex-sozai/bg.jpg);
  background-size: cover;
  height: 1000px;
}

.acsess__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.acsess__img {
  padding-left: 80px;
}

.acsess__img img {
  width: 468px;
  height: 300px;
}

.acsess__text {
  padding-left: 50px;
}

.acsess__text h2 {
  font-size: 12px;
  font-weight: bold;
  padding-top: 15px;
}

.acsess__text p {
  font-size: 12px;
  padding-top: 10px;
}

.acsess__map {
  margin: 0 auto;
  padding-top: 30px;
  width: 600px;
}

.section6 {
  padding-top: 80px;
}

.footer {
  margin: 0 auto;
  text-align: center;
}

.footer__bgi {
  background-image: url(../Ex-sozai/bg3.jpg);
  background-size: cover;
  height: 500px;
}

.footer__text {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: upright;
  letter-spacing: 20px;
  margin: 0 auto;
  text-align: initial;
}

.footer__text h1 {
  font-size: 16px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 60px;
}

.footer__text h1 a {
  color: black;
}

.footer__img {
  padding-top: 60px;
}

.footer__img img {
  width: 120px;
}

.footer__text2 {
  padding-top: 50px;
}

.footer__end__bgi {
  background-color: #000000;
  height: 50px;
}

.footer__end__text {
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
}

.footer__end__text p {
  color: #FFFFFF;
  font-size: 10px;
}

.header2 {
  max-width: 1920px;
  width: 100%;
  height: 60px;
}

.header2 .header3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 999;
  position: fixed;
  background-color: #fff;
  width: 100%;
  height: 60px;
}

.header2 .header3 .header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header2 .header3 .header-logo img {
  width: 136px;
  height: 27px;
  padding-top: 23px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 130px;
}

.header2 .header3 .header-logo ul li {
  float: left;
  list-style: none;
  padding-right: 30px;
  font-size: 16px;
}

.header2 .header3 .header-logo ul li a {
  color: black;
  font-size: 12px;
  font-weight: bold;
}

.header2 .header3 .calender {
  width: 134px;
  height: 40px;
  background-color: #978F10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 13px;
}

.header2 .header3 .calender a {
  font-size: 12px;
  color: #FFFFFF;
}

.header2 .header3 .calender a img {
  width: 15px;
  height: 15px;
  padding-right: 10px;
}

.under__section1 .under__bgi {
  z-index: 10;
  width: 100%;
  height: 450px;
  background-size: cover;
  position: relative;
}

.under__section1 .under__bgi h1 {
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 47%;
}

.room .under__section2 {
  width: 900px;
  margin: 0 auto;
}

.room .under__maintext {
  text-align: left;
  font-size: 14px;
  padding-top: 40px;
}

.room .under__maintext a {
  color: black;
}

.room .under__text {
  text-align: center;
  font-size: 16px;
  padding-top: 60px;
}

.room .under__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
}

.room .under__item:nth-child(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse;
          flex-flow: row-reverse;
}

.room .under__item .under__img {
  position: relative;
  z-index: 5;
}

.room .under__item .under__img img {
  width: 405px;
  height: 250px;
}

.room .under__item .under__sentence {
  background-image: url(../Ex-sozai/bg.jpg);
  background-size: 727px;
  height: 285px;
  position: absolute;
  top: 840px;
  left: 580px;
  padding-left: 125px;
}

.room .under__item .under__sentence h2 {
  font-size: 20px;
  padding-top: 35px;
  padding-right: 45px;
}

.room .under__item .under__sentence p {
  font-size: 11px;
  padding-top: 30px;
  padding-right: 30px;
}

.room .under__item:nth-child(2) {
  padding-top: 160px;
}

.room .under__item:nth-child(2) .under__sentence {
  top: 1250px;
  left: 224px;
  padding-left: 70px;
  padding-right: 110px;
}

.room .under__item:nth-child(2) .under__sentence h2 {
  font-size: 20px;
}

.room .under__item:nth-child(2) .under__sentence p {
  font-size: 11px;
}

.room .under__item:nth-child(3) {
  padding-top: 140px;
  padding-bottom: 200px;
}

.room .under__item:nth-child(3) .under__sentence {
  top: 1650px;
  left: 580px;
  padding-right: 50px;
}

.cook .under__section2 {
  width: 900px;
  margin: 0 auto;
}

.cook .under__maintext {
  text-align: left;
  font-size: 14px;
  color: black;
  padding-top: 40px;
}

.cook .under__text {
  text-align: center;
  font-size: 16px;
  padding-top: 60px;
}

.cook .under__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
}

.cook .under__item:nth-child(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse;
          flex-flow: row-reverse;
}

.cook .under__item .under__img {
  position: relative;
  z-index: 5;
}

.cook .under__item .under__img img {
  width: 405px;
  height: 250px;
}

.cook .under__item .under__sentence {
  background-image: url(../Ex-sozai/bg.jpg);
  background-size: 727px;
  height: 265px;
  position: absolute;
  top: 840px;
  left: 580px;
  padding-left: 125px;
}

.cook .under__item .under__sentence h2 {
  font-size: 20px;
  padding-top: 35px;
  padding-right: 45px;
}

.cook .under__item .under__sentence p {
  font-size: 11px;
  padding-top: 30px;
  padding-right: 70px;
}

.cook .under__item:nth-child(2) {
  padding-top: 180px;
}

.cook .under__item:nth-child(2) .under__sentence {
  top: 1250px;
  left: 224px;
  padding-left: 70px;
  padding-right: 110px;
}

.cook .under__item:nth-child(2) .under__sentence h2 {
  font-size: 20px;
}

.cook .under__item:nth-child(2) .under__sentence p {
  font-size: 11px;
}

.cook .under__item:nth-child(3) {
  padding-top: 180px;
  padding-bottom: 200px;
}

.cook .under__item:nth-child(3) .under__sentence {
  top: 1700px;
  left: 580px;
  padding-right: 100px;
}

.onsen .under__section2 {
  width: 900px;
  margin: 0 auto;
}

.onsen .under__maintext {
  text-align: left;
  font-size: 14px;
  color: black;
  padding-top: 40px;
}

.onsen .under__text {
  text-align: center;
  font-size: 16px;
  padding-top: 60px;
}

.onsen .under__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
}

.onsen .under__item:nth-child(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse;
          flex-flow: row-reverse;
}

.onsen .under__item .under__img {
  position: relative;
  z-index: 5;
}

.onsen .under__item .under__img img {
  width: 405px;
  height: 250px;
}

.onsen .under__item .under__sentence {
  background-image: url(../Ex-sozai/bg.jpg);
  background-size: 727px;
  height: 270px;
  position: absolute;
  top: 840px;
  left: 580px;
  padding-left: 125px;
}

.onsen .under__item .under__sentence h2 {
  font-size: 20px;
  padding-top: 35px;
  padding-right: 45px;
}

.onsen .under__item .under__sentence p {
  font-size: 11px;
  padding-top: 30px;
  padding-right: 110px;
}

.onsen .under__item:nth-child(2) {
  padding-top: 160px;
}

.onsen .under__item:nth-child(2) .under__sentence {
  top: 1250px;
  left: 224px;
  padding-left: 70px;
  padding-right: -40px;
}

.onsen .under__item:nth-child(2) .under__sentence h2 {
  font-size: 20px;
}

.onsen .under__item:nth-child(2) .under__sentence p {
  font-size: 11px;
}

.onsen .under__item2 {
  margin-top: 180px;
  margin-bottom: 120px;
  border-top: 1px solid #E7E7E7;
  border-bottom: 1px solid #E7E7E7;
  padding-bottom: 80px;
}

.onsen .under__item2 h1 {
  padding-top: 60px;
  padding-bottom: 30px;
  font-size: 22px;
  text-align: center;
}

.onsen .under__item2 table {
  width: 730px;
  margin: 0 auto;
  border-collapse: collapse;
}

.onsen .under__item2 table tr {
  border-top: 1px solid #E7E7E7;
  border-bottom: 1px solid #E7E7E7;
}

.onsen .under__item2 table tr th {
  font-size: 11px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 10px;
  width: 12px;
}

.onsen .under__item2 table tr :nth-child(2) {
  padding-left: 155px;
  text-align: left;
}

.fadein {
  opacity: 0;
  -webkit-transition: all 2.5s;
  transition: all 2.5s;
  -webkit-transform: translate(0, 50px);
          transform: translate(0, 50px);
}

/*アニメーション要素までスクロールした時のスタイル*/
.fadein.active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.fadein-logo {
  opacity: 0;
  -webkit-transition: all 3s;
  transition: all 3s;
  -webkit-transform: translate(0, 70px);
          transform: translate(0, 70px);
}

/*アニメーション要素までスクロールした時のスタイル*/
.fadein-logo.active-logo {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
/*# sourceMappingURL=main.css.map */