.main4 {


    &__img {
        background-image: url(../Ex-sozai/bg02.jpg);
        background-size: cover;
        height: 600px;
        margin-top: 100px;
    }

    &__logo {
        text-align: center;

        img {
            width: 33px;
            height: 33px;
            padding-top: 60px;
        }

        h1{
            font-size: 32px;
            color: #000000;
            padding-top: 10px;
        }
    }

    &__main {
        display: flex;
        justify-content: space-between;
        list-style: none;
        width: 100%;
    }

    &__list {
        width: 900px;
        margin: 0 auto;
        padding-top: 40px;
    }

    &__item {
        width: 29%;
        
        h2 {
            font-size: 12px;
            padding-top: 28px;
        }
    
        p {
            font-size: 10px;
            padding-top: 30px;
        }
    }

    &__img2 {

        img {
            width: 255px;
            height: 180px;
        }
    }
}


.fadein2 {
	opacity : 0;
	transition: all 3s;
	transform: translate(0,80px);
}
/*アニメーション要素までスクロールした時のスタイル*/
.fadein2.active2 {
	opacity: 1;
	transform: translate(0,0);
}